---
swagger: "2.0"
info:
  description: "¡Bienvenido a la API de seguro vehicular! \nEsta documentación proporciona\
    \ instrucciones para acceder a la API y debería ayudarlo a familiarizarse con\
    \ los recursos disponibles.\n ### Cómo empezar\n ----------------------------------------------------------------\n\
    \ El acceso a la API requiere un token de acceso que se usará en solicitudes posteriores\
    \ como consultas, registros y actualizaciones\n ### Solicitud de token de acceso\n\
    \ ----------------------------------------------------------------\n Para obtener\
    \ su token de acceso deberá llamar al siguiente método POST\n   `testsoat.interseguro.com.pe/soat/oauth/token`\n\
    \ Ingresando como parámetros su información (como grand_type, el ID y el secreto\
    \ de cliente)\n Si se aprueba esta petición, se le proporcionará un token de acceso\n\
    \ El token se puede obtener en la /oauth/tokenURL.\n\n\n ### Uso\n  ----------------------------------------------------------------\n\
    \ Para consumir el API se accedera a través de llamadas HTTP usando POST a ....\n\
    \ ### \n     testsoat.interseguro.com.pe/soat/general?access_token=$ACCESS_TOKEN\
    \ [POST]\n"
  version: 1.0.0
  title: Seguro Vehicular
host: testsoat.interseguro.com.pe
basePath: /soat/general
tags:
- name: Autenticación
- name: Autos
- name: Clientes
- name: Otras Consultas
schemes:
- https
- http
paths:
  /oauth/token:
    post:
      tags:
      - Autenticación
      summary: Obtener un token de autenticación
      parameters:
      - name: grant_type
        in: query
        description: Tipo de acceso
        required: true
        type: string
      - name: client_id
        in: query
        description: Identificador
        required: true
        type: string
      - name: client_secret
        in: query
        description: ' Clave'
        required: true
        type: string
      responses:
        200:
          description: success
          schema:
            $ref: '#/definitions/Autenticacionexitosa'
          responseSchema:
            $ref: '#/definitions/Autenticacionexitosa'
        401:
          description: No Autorizado
  /autos:
    post:
      tags:
      - Autos
      summary: Consulta autos
      parameters: []
      responses:
        200:
          description: Ok
          schema:
            type: array
            example:
            - Placa: C5R38D
              Clase: Automovil
              Marca: Toyota
              Modelo: Corolla
              Año_fabricacion: "2012"
              num_asientos: "4"
              uso: Particular
              num_serie: MD3FCE0CA421928
            - Placa: CFDET2
              Clase: Camión
              Marca: Acura
              Modelo: Cerbiatto
              Año_fabricacion: "2013"
              num_asientos: "2"
              uso: Particular
              num_serie: MD3CVE0P421928
            items:
              $ref: '#/definitions/Auto'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/Auto'
            example:
            - Placa: C5R38D
              Clase: Automovil
              Marca: Toyota
              Modelo: Corolla
              Año_fabricacion: "2012"
              num_asientos: "4"
              uso: Particular
              num_serie: MD3FCE0CA421928
            - Placa: CFDET2
              Clase: Camión
              Marca: Acura
              Modelo: Cerbiatto
              Año_fabricacion: "2013"
              num_asientos: "2"
              uso: Particular
              num_serie: MD3CVE0P421928
  /insertAuto:
    put:
      tags:
      - Autos
      summary: Crear un nuevo registro de auto
      parameters:
      - name: Placa
        in: query
        description: Placa
        required: true
        type: string
      - name: Clase
        in: query
        description: Clase
        required: true
        type: string
      - name: Modelo
        in: query
        description: Modelo
        required: true
        type: string
      - name: Año_fabricacion
        in: query
        description: Año de fabricación
        required: true
        type: string
      - name: num_asientos
        in: query
        description: Número de asientos
        required: true
        type: string
      - name: uso
        in: query
        description: Uso
        required: true
        type: string
      - name: num_serie
        in: query
        description: Número de serie
        required: true
        type: string
      responses:
        200:
          description: Ok
  /editAuto:
    put:
      tags:
      - Autos
      summary: Actualiza la información de un auto
      parameters:
      - name: Placa
        in: query
        description: Placa
        required: true
        type: string
      - name: Clase
        in: query
        description: Clase
        required: true
        type: string
      - name: Modelo
        in: query
        description: Modelo
        required: true
        type: string
      - name: Año_fabricacion
        in: query
        description: Año de fabricación
        required: true
        type: string
      - name: num_asientos
        in: query
        description: Número de asientos
        required: true
        type: string
      - name: uso
        in: query
        description: Uso
        required: true
        type: string
      - name: num_serie
        in: query
        description: Número de serie
        required: true
        type: string
      responses:
        200:
          description: Ok
  /searchAuto:
    post:
      tags:
      - Autos
      summary: Buscar datos de auto
      parameters:
      - name: Placa
        in: query
        description: Placa
        required: true
        type: string
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
        404:
          description: NOT FOUND
  /clientes:
    post:
      tags:
      - Clientes
      summary: Consulta clientes
      parameters: []
      responses:
        200:
          description: Ok
          schema:
            type: array
            example:
            - Documento: "09998855"
              Tipo de documento: DNI
              Nombre: Maria
              ape_paterno: Flores
              ape_materno: Seminario
              Email: jflores@gmail.com
              Departamento: Lima
              Provincia: Lima
              Distrito: La Molina
              movil: "985624159"
            - Documento: "08784899"
              Tipo de documento: DNI
              Nombre: Jose
              ape_paterno: Garcia
              ape_materno: Jimenez
              Email: jgarcia@gmail.com
              Departamento: Lima
              Provincia: Lima
              Distrito: San Isidro
              movil: "995874441"
            items:
              $ref: '#/definitions/Cliente'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/Cliente'
            example:
            - Documento: "09998855"
              Tipo de documento: DNI
              Nombre: Maria
              ape_paterno: Flores
              ape_materno: Seminario
              Email: jflores@gmail.com
              Departamento: Lima
              Provincia: Lima
              Distrito: La Molina
              movil: "985624159"
            - Documento: "08784899"
              Tipo de documento: DNI
              Nombre: Jose
              ape_paterno: Garcia
              ape_materno: Jimenez
              Email: jgarcia@gmail.com
              Departamento: Lima
              Provincia: Lima
              Distrito: San Isidro
              movil: "995874441"
  /insertCliente:
    put:
      tags:
      - Clientes
      summary: Crear un nuevo registro de cliente.
      parameters:
      - name: Documento
        in: query
        description: Número de Documento
        required: true
        type: string
      - name: Tipo
        in: query
        description: Tipo de documento
        required: true
        type: string
      - name: Nombre
        in: query
        description: Nombre del cliente
        required: true
        type: string
      - name: Ap_paterno
        in: query
        description: Apellido Paterno
        required: true
        type: string
      - name: Ap_materno
        in: query
        description: Apellido Materno
        required: true
        type: string
      - name: Email
        in: query
        description: 'Correo electrónico '
        required: true
        type: string
      - name: Movil
        in: query
        description: Número de celular
        required: false
        type: string
      - name: Departamento
        in: query
        description: Departamento
        required: true
        type: string
      - name: Provincia
        in: query
        description: Provincia
        required: true
        type: string
      - name: Distrito
        in: query
        description: Distrito
        required: true
        type: string
      responses:
        200:
          description: Ok
  /editCliente:
    put:
      tags:
      - Clientes
      summary: Actualiza la información de un cliente
      parameters:
      - name: Documento
        in: query
        description: Número de Documento
        required: true
        type: string
      - name: Tipo
        in: query
        description: Tipo de documento
        required: true
        type: string
      - name: Nombre
        in: query
        description: Nombre del cliente
        required: true
        type: string
      - name: Ap_paterno
        in: query
        description: Apellido Paterno
        required: true
        type: string
      - name: Ap_materno
        in: query
        description: Apellido Materno
        required: true
        type: string
      - name: Email
        in: query
        description: 'Correo electrónico '
        required: true
        type: string
      - name: Movil
        in: query
        description: Número de celular
        required: false
        type: string
      - name: Departamento
        in: query
        description: Departamento
        required: true
        type: string
      - name: Provincia
        in: query
        description: Provincia
        required: true
        type: string
      - name: Distrito
        in: query
        description: Distrito
        required: true
        type: string
      responses:
        200:
          description: Ok
        404:
          description: el recurso de destino no existe
  /searchCliente:
    post:
      tags:
      - Clientes
      summary: Consultar cliente
      parameters:
      - name: Documento
        in: query
        description: Número de Documento
        required: true
        type: string
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
        404:
          description: el recurso de destino no
  /marcas:
    post:
      tags:
      - Otras Consultas
      summary: consulta marcas
      parameters:
      - name: token
        in: query
        description: API
        required: false
        type: string
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
  /modelos:
    post:
      tags:
      - Otras Consultas
      summary: Consulta modelos
      parameters: []
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
  /clases:
    post:
      tags:
      - Otras Consultas
      summary: Consulta clases
      parameters: []
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
  /usos:
    post:
      tags:
      - Otras Consultas
      summary: Consulta usos
      parameters: []
      responses:
        200:
          description: Ok
          schema:
            type: string
            example: ""
          responseSchema:
            type: string
            example: ""
definitions:
  Autenticacionexitosa:
    properties:
      access_token:
        type: string
      token_type:
        type: string
      expires_in:
        type: integer
    example:
      access_token: access_token
      token_type: token_type
      expires_in: 0
  Cliente:
    properties:
      Documento:
        type: integer
      Tipo de documento:
        type: string
      Nombre:
        type: string
      ape_paterno:
        type: string
      ape_materno:
        type: string
      Email:
        type: string
      Departamento:
        type: string
      Provincia:
        type: string
      Distrito:
        type: string
      movil:
        type: string
  Auto:
    properties:
      Placa:
        type: string
      Clase:
        type: string
      Marca:
        type: string
      Modelo:
        type: string
      Año_fabricacion:
        type: string
      num_asientos:
        type: integer
      uso:
        type: string
      num_serie:
        type: string
parameters:
  Placa:
    name: Placa
    in: query
    description: Placa
    required: true
    type: string
  Clase:
    name: Clase
    in: query
    description: Clase
    required: true
    type: string
  Modelo:
    name: Modelo
    in: query
    description: Modelo
    required: true
    type: string
  fabricacion:
    name: Año_fabricacion
    in: query
    description: Año de fabricación
    required: true
    type: string
  num_asientos:
    name: num_asientos
    in: query
    description: Número de asientos
    required: true
    type: string
  uso:
    name: uso
    in: query
    description: Uso
    required: true
    type: string
  num_serie:
    name: num_serie
    in: query
    description: Número de serie
    required: true
    type: string
  Documento:
    name: Documento
    in: query
    description: Número de Documento
    required: true
    type: string
  Tipo:
    name: Tipo
    in: query
    description: Tipo de documento
    required: true
    type: string
  Nombre:
    name: Nombre
    in: query
    description: Nombre del cliente
    required: true
    type: string
  Ap_paterno:
    name: Ap_paterno
    in: query
    description: Apellido Paterno
    required: true
    type: string
  Ap_materno:
    name: Ap_materno
    in: query
    description: Apellido Materno
    required: true
    type: string
  Email:
    name: Email
    in: query
    description: 'Correo electrónico '
    required: true
    type: string
  Movil:
    name: Movil
    in: query
    description: Número de celular
    required: false
    type: string
  Departamento:
    name: Departamento
    in: query
    description: Departamento
    required: true
    type: string
  Provincia:
    name: Provincia
    in: query
    description: Provincia
    required: true
    type: string
  Distrito:
    name: Distrito
    in: query
    description: Distrito
    required: true
    type: string
